@page "/giveoutabook"
@using ClassLibrary.Models
@using LibraryAdminApp.Services
@inject IMemberService MemberService
@inject IBookService BookService;

<h3>Available books</h3>

@code {
    private IEnumerable<BookModel>? availableBooks { get; set; }
    private IEnumerable<MemberModel>? allMember { get; set; }
    private int counter { get; set; } = 0;
    protected override async Task OnInitializedAsync()
    {
        availableBooks = await BookService.availableBookAsync();
        allMember = await MemberService.getAllMemberAsync();
    }
}

@if (availableBooks is null)
{
    <p>Loading...</p>
}
else
{
        counter = allMember.Count();

        if (counter > 0)
        {
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Publish date</th>
            <th>Give out</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var book in availableBooks)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Publisher</td>
                <td>@book.PublishDate</td>
                <td><a href="/giveoutabook/@book.Id/members" class="btn btn-dark">GIVE</a></td>
            </tr>
        }
        </tbody>
    </table>
        }
        else
        {
            <p>There are no members in the library yet.</p>
        }
}